name: Deploy Writerside Docs

on:
  push:
    branches: [ master ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Writerside
        uses: JetBrains/writerside-github-action@v4
        with:
          path: docs
          instance: 'docs/ss'
          artifact: webHelpSS2-all.zip
          docker-version: 243.21565

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: artifacts/webHelp

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    steps:
      - uses: actions/deploy-pages@v4
