name: Writerside Docs Deploy

on:
  push:
    branches:
      - docs   # change if your default branch is main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Writerside docs
        uses: JetBrains/writerside-github-action@v4
        with:
          instance: ss
          artifact: webHelp
          output: docs

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs
